name: RIT Action Continuous Integration Test

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  
env:
  TEST_TAG:  ${{ github.event.repository.name }}/rit:test
  LATEST_TAG: ghcr.io/rsksmart/${{ github.event.repository.name }}/rit

jobs:
  build-push-rit-action-container-action:
    name: Test  RIT Action docker container-action
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        with:
          images: |
            ${{ env.LATEST_TAG }}
            ${{ env.TEST_TAG }}

      - name: Setup Docker BuildX
        id: setup-buildx
        uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db # v3.6.1
        with:
          install: true
          driver-opts: network=host
          platforms: linux/amd64

      - name: Build and export locally Docker
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85 # v6.7.0
        with:
          context: container-action/
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Test the RIT Container Action
        id: test-container
        env:
          INPUT_RSKJ_BRANCH: master
          INPUT_POWPEG_NODE_BRANCH: master
          INPUT_RIT_BRANCH: main
          INPUT_RIT_LOG_LEVEL: info
        run: |
          docker run \
          --env GITHUB_OUTPUT="/github-output"  \
          --env INPUT_RSKJ_BRANCH="${{ env.INPUT_RSKJ_BRANCH }}"  \
          --env INPUT_POWPEG_NODE_BRANCH="${{ env.INPUT_POWPEG_NODE_BRANCH }}"  \
          --env INPUT_RIT_BRANCH="${{ env.INPUT_RIT_BRANCH }}"  \
          --env INPUT_RIT_LOG_LEVEL="${{ env.INPUT_RIT_LOG_LEVEL }}" \
          -v "$GITHUB_OUTPUT:/github-output"  \
          --rm ${{ env.TEST_TAG }} 

      - name: GitHub container registry login
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the RIT Action Container Image
        uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85 # v6.7.0
        with:
          context: container-action/
          tags: ${{ env.LATEST_TAG }}
          labels: ${{ steps.meta.outputs.labels }}
          load: true
          push: true

  test-rit-action:
    needs:  build-push-rit-action-container-action
    name: GitHub Actions Test
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Test RIT Action
        id: test-rit-action
        uses: ./
        with:
          rskj-branch: master
          powpeg-node-branch: master

      - name: Print RIT Status and Message
        id: output
        run: |
          echo "RIT Status = ${{ steps.test-rit-action.outputs.status }}"
          echo "RIT Message = ${{ steps.test-rit-action.outputs.message }}"

  publish-rit-action-tag:
    needs:  test-rit-action
    name: Publish RIT Action tag
    runs-on: ubuntu-latest
    timeout-minutes: 60
    if: github.ref == 'refs/heads/main'
    permissions:
      contents:  write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish new version
        run: |
          git config --global user.email "no-reply@rootstocklabs.com"
          git config --global user.name "RIT Release Automation"
          git tag -fa v1 -m "Updating rootstock-integration-tests container action v1"
          git push origin v1 --force